@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+KR);* {
  padding: 0px;
  margin: 0px;
}

.font-noto-eng {
  font-family: 'Noto Sans', sans-serif;
}

.font-noto-kr {
  font-family: 'Noto Sans KR', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.img {
  width: 100%;
}

.btn {
  cursor: pointer;
}

.col-1 {
  width: 102px;
  margin: 0 10px 0 10px;
}

.col-1:first-child {
  margin-left: 0px;
}

.col-1:last-child {
  margin-right: 0px;
}

.col-2 {
  width: 224px;
  margin: 0 10px 0 10px;
}

.col-2:nth-of-type(5n) {
  margin-right: 0px;
}

.col-2:nth-of-type(5n+1) {
  margin-left: 0px;
}

.col-3 {
  width: 346px;
  margin: 0 10px 0 10px;
}

.col-3:first-child {
  margin-left: 0px;
}

.col-3:last-child {
  margin-right: 0px;
}

.col-4 {
  width: 468px;
  margin: 0 10px 0 10px;
}

.col-4:first-child {
  margin-left: 0px;
}

.col-4:last-child {
  margin-right: 0px;
}

.col-5 {
  width: 590px;
  margin: 0 10px 0 10px;
}

.col-5:first-child {
  margin-left: 0px;
}

.col-5:last-child {
  margin-right: 0px;
}

.col-6 {
  width: 712px;
  margin: 0 10px 0 10px;
}

.col-6:first-child {
  margin-left: 0px;
}

.col-6:last-child {
  margin-right: 0px;
}

.col-7 {
  width: 834px;
  margin: 0 10px 0 10px;
}

.col-7:first-child {
  margin-left: 0px;
}

.col-7:last-child {
  margin-right: 0px;
}

.col-8 {
  width: 956px;
  margin: 0 10px 0 10px;
}

.col-8:first-child {
  margin-left: 0px;
}

.col-8:last-child {
  margin-right: 0px;
}

.col-9 {
  width: 1078px;
  margin: 0 10px 0 10px;
}

.col-9:first-child {
  margin-left: 0px;
}

.col-9:last-child {
  margin-right: 0px;
}

.col-10 {
  width: 1180px;
  margin: 0 20px 0 20px;
}

.bluetitle {
  font-weight: 500;
  color: #0066FF;
}

.btn {
  width: 224px;
  height: 51px;
  text-align: center;
  font-size: 15px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

.blue {
  border-color: #0066FF;
  background-color: #ffffff;
  color: #0066FF;
}

.blue:active {
  background-color: #0066FF;
  color: #ffffff;
}

.gray {
  background-color: #ffffff;
  color: #3d3d3d;
}

.gray:active {
  background-color: #3d3d3d;
  color: #ffffff;
}

.title1 {
  font-family: inherit;
  font-size: 20px;
  line-height: 1.45;
  font-weight: 500;
  font-family: inherit;
}

.content1 {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.67;
  color: #707070;
  font-family: inherit;
}

.bluebox {
  height: 248px;
  background-color: #0066FF;
}

.bluecontent {
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}

.topimage {
  display: block;
  margin: 35px 35px 35px 50px;
  width: 130px;
  height: 70px;
}

.topnumber {
  width: 19px;
  height: 23px;
  margin: 10px 0px 0px 10px;
}

.needbot {
  display: block;
  position: relative;
  font-size: 27px;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3d3d3d;
  left: 10px;
  top: 51px;
}

.tab {
  list-style: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.tab li {
  float: left;
  width: 232px;
  text-align: center;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
  font-size: 22px;
  cursor: pointer;
}

.tabcontent {
  display: none;
  background-color: #ffffff;
  color: #3d3d3d;
  border-bottom-color: #0066ff;
  padding-top: 50px;
}

ul.tab li.current {
  background-color: #ffffff;
  color: #0066ff;
  border-bottom-color: #0066ff;
}

.tabcontent.current {
  display: block;
  color: #3d3d3d;
}

.servicesmall {
  font-size: 30px;
  color: #3d3d3d;
  font-family: 'Noto Sans', sans-serif;
}

.servicebig {
  font-size: 43px;
  color: #3d3d3d;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
}

.sertop {
  font-size: 25px;
  color: #3d3d3d;
  font-weight: lighter;
  font-family: 'Noto Sans KR', sans-serif;
}

.sertopbot {
  font-size: 40px;
  font-weight: bold;
  color: #3d3d3d;
  font-family: 'Noto Sans KR', sans-serif;
}

.sermid {
  font-size: 30px;
  font-weight: bold;
  color: #3d3d3d;
  font-family: 'Noto Sans KR', sans-serif;
}

.sermidblue {
  font-size: 20px;
  color: #0066ff;
  font-family: 'Noto Sans KR', sans-serif;
}

.sermidbot {
  font-size: 21px;
  color: #3d3d3d;
  position: relative;
  top: 40px;
  font-family: 'Noto Sans KR', sans-serif;
}

.serbot {
  margin: 86px 0px 40px 0px;
  font-family: 'Noto Sans KR', sans-serif;
}

/* .process img{
    height:1345px;
    width:100%;
} */

.process {
  margin: 0 auto;
}

#title_en {
  margin-top: 0%;
  padding-top: 6%;
  line-height: 36px;
  font-size: 30px;
}

#title_ko {
  font-size: 43px;
  font-weight: bold;
  margin-bottom: 3%;
}

.bg {
  background: url("https://cdn.zeplin.io/5c492537058fa079f196c51a/assets/358BBE00-1F41-4638-AAEC-6F57ACF47018.png") no-repeat;
  width: 1920px;
  height: 1345px;
  margin: 0 auto;
}

.process #box {
  /* padding : 35px 35px 35px 35px; */
  z-index: 100;
  width: 100%;
  margin: 0 auto;
  /* margin-top:-90px; */
  padding-left: 35px;
  width: 530px;
  height: 278px;
  border: 1px solid #BFBFBF;
  border-radius: 44px;
  -webkit-box-shadow: 2px 2px grey;
          box-shadow: 2px 2px grey;
  padding-top: 54px;
  background: white;
  position: relative;
}

#box .box_title {
  margin-top: -20px;
  font-size: 25px;
  font-weight: bold;
  color: #707070;
  margin-bottom: 20px;
  font-family: 'Noto Sans KR', sans-serif;
}

#box .box_content {
  margin-bottom: 33px;
}

#box .box_content p {
  line-height: 30px;
  font-size: 14px;
  color: #3d3d3d;
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
}

#box #icon {
  /* width:160; */
  /* width:50%;         */
  /* height:30px; */
  /* margin:0px 150px 10px 0px; */
  /* margin-right:150px; */
  padding-bottom: 19px;
  font-size: 12px;
  color: #3d3d3d;
  font-weight: bold;
}

#box #icon img {
  weight: 19px;
  height: 19px;
  /* padding: 7px 7px 7px 7px; */
  padding-right: 6px;
  /* padding-bottom:5px; */
}

#box #icon #content {
  /* width:105px;
    height:18px; */
  /* padding-top:-20px; */
  /* padding-bottom:-22px; */
  /* margin-top:60px; */
}

#sadari {
  /* margin-top:99%;*/
  margin-left: 15%;
  margin-top: 11%;
  z-index: 2;
  position: absolute;
}

.horizen_div {
  /* display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px; */
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 0;
}

.horizen_div #icon {
  width: 45%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 12px;
  font-family: 'Noto Sans KR', sans-serif;
}

.horizen_div #icon #content {
  position: relative;
  bottom: 6px;
  font-family: 'Noto Sans KR', sans-serif;
}

.freeservicetitle {
  color: #3d3d3d;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
  margin-top: 60px;
  margin-bottom: 40px;
  position: relative;
  right: 10px;
}

.freeservicecontent {
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #3d3d3d;
  position: relative;
  right: 10px;
}

.lineadjust {
  line-height: 2em;
}

.font-noto {
  font-family: 'Noto Sans KR', sans-serif;
}

.contacttitle {
  font-weight: bold;
  font-size: 70px;
  margin: 0px auto;
  color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
}

.contactcontent {
  font-size: 35px;
  margin: 0px auto;
  color: #ffffff;
  font-family: 'Noto Sans KR', sans-serif;
}

.contactneed {
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
}

.contactinfo {
  font-size: 15px;
  text-align: left;
  color: #ffffff;
  font-family: 'Noto Sans KR', sans-serif;
}

#googleMap {
  widows: 1920px;
  height: 1023px;
}

.g-recaptcha > div > div > iframe {
  width: 244px;
  height: 51px;
}

.layer-open {
  overflow: hidden;
}

.port-title {
  position: absolute;
  display: inline;
  font-family: 'Noto Sans', sans-serif;
  font-size: 27px;
  bottom: -5px;
  width: 150px;
}

.port-list {
  position: absolute;
}

.reldiv {
  position: relative;
}

.port-box {
  height: 224px;
  text-align: center;
  margin-bottom: 19px !important;
}

.port-box .title-p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 24px;
  padding-top: 5px;
  font-weight: bold;
  color: #fff;
  line-height: 1.5;
  top: 50px;
}

.port-box .link-p {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 45px;
  border: 1px solid #fff;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.port-box .link-p a {
  color: #fff;
}

.port-box .port-hover {
  background: blue;
  opacity: 0.7;
  height: 224px;
  display: none;
}

.port-li {
  padding: 0px;
}

.port-li li {
  width: 100px;
  margin: 0 10px 0 10px;
  float: left;
  text-align: center;
  list-style: none;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  cursor: pointer;
}

.port-li li:hover {
  color: #0066FF;
}

#portfolio {
  margin: 1rem 0;
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 1rem;
  column-gap: 1rem;
  -webkit-column-width: 33.33333333333333%;
  column-width: 33.33333333333333%;
}

.tile {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.scale-anm {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.ptpage {
  width: 1920px;
}

.ptpage .title-font {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 80px;
  line-height: 1.49;
  color: #fff;
}

.ptpage .subtitle-font {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  letter-spacing: normal;
  color: #fff;
}

.ptpage .blue {
  border-color: #0066FF;
  background-color: #ffffff;
  color: #0066FF;
  background-color: rgba(0, 0, 0, 0);
}

.part {
  background-color: #f2f2f2;
}

.part .reldiv {
  left: 10px;
  bottom: 0;
}

.part .reldiv .port-title {
  width: 400px;
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

.port-info {
  margin-top: 30px;
}

.port-info .port-info-title .p1 {
  font-size: 49px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.49;
  letter-spacing: normal;
  text-align: left;
  color: #bf272c;
}

.port-info .port-info-title .p2 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.48;
  letter-spacing: normal;
  text-align: left;
}

.port-info .port-img {
  text-align: center;
}

.port-info .port-img img {
  min-width: 100%;
}

.port-info .port-img p {
  margin: 50px 0 50px 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 27px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.48;
  letter-spacing: normal;
}

