.contacttitle {
    font-weight: bold;
    font-size: 70px;
    margin: 0px auto;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
}

.contactcontent {
    font-size: 35px;
    margin: 0px auto;
    color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;
}

.contactneed {
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
}

.contactinfo {
    font-size: 15px;
    text-align: left;
    color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;
}

#googleMap {
    widows: 1920px;
    height: 1023px;
}

.g-recaptcha>div>div>iframe {
    width: 244px;
    height: 51px;
 }